---
import InteractiveAnimation from "../components/InteractiveAnimation.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Interactive Animation in Astro</title>
    <!-- Import LottieFiles player -->
    <script is:inline src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <!-- Import library for interactive LottieFiles -->
    <script is:inline src="https://unpkg.com/@lottiefiles/lottie-interactivity@latest/dist/lottie-interactivity.min.js"></script>
  </head>
  <body>
    <InteractiveAnimation mode="hover" name="activity">← Hover</InteractiveAnimation>
    <InteractiveAnimation mode="toggle" name="notification">← Toggle</InteractiveAnimation>
    <InteractiveAnimation mode="click" name="triangle">← Click</InteractiveAnimation>
  </body>
  <!-- 
    Animationer fra: https://useanimations.com/   
    -->
</html>
