---
// Importer komponent
import Animation from "../components/Animation.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Basic Animation in Astro</title>
   </head>
  <body>
    <!-- Tilføj component  -->
    <Animation size="small" name="loading" />
    <Animation size="medium" name="notification" />
    <Animation size="big" name="triangle" />
    <!-- 
    Animationer fra: https://useanimations.com/  

    Mere information om <lottie-player> element:
    https://lottiefiles.com/web-player  
    -->
  </body>
</html>
