---
// Import component
import Animation from "../components/Animation.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Basic Animation in Astro</title>
    <!-- Importer kode fra CDN-->
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
  </head>
  <body>
    <!-- Add component  -->
    <Animation size="small" name="activity" />
    <Animation size="medium" name="notification" />
    <Animation size="big" name="triangle" />
    <!-- 
    Animationer fra: https://useanimations.com/   
    -->
  </body>
</html>
