---
// Eksponer props
interface Props {
  animation: string;
  text: string;
}

// Få fat i props
const { animation, text } = Astro.props;

// Lav et link fra probs
const link = `./assets/${animation}.json`;
---

<a class="button_with_animations" href="#">
  <lottie-player src={link}></lottie-player>
  <p>{text}</p>
</a>

<script>
  // Få en reference til alle element med "button_with_animation" klassen i et array
  const buttons = document.querySelectorAll(".button_with_animations");

  // Traverser arrayet med knapperne (for hver knap i arrayet)
  buttons.forEach((button) => {
    // Få en reference til lottie playeren i den pågældende knap
    const lottiePlayer = button.querySelector("lottie-player");

    // Brug LottieInteractivity objektet til at lave en animation
    LottieInteractivity.create({
      // Sæt hvilken lottie player der skal animere
      player: lottiePlayer,
      // Lyt efter musen
      mode: "cursor",
      // Bestem hvilket element der skal lytte efter musen
      container: button,
      actions: [
        {
          //Lyt efter "click"
          type: "click",
          forceFlag: false,
        },
      ],
    });
  });
</script>

<!-- Lidt CSS så det ikke er helt skidt -->
<style>
  lottie-player {
    margin-left: 0.5rem;
    width: 2rem;
    height: 2rem;
  }
  a {
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    padding: 1rem;
    background-color: #ddd;
  }
  a:active {
    background-color: #ccc;
  }
  p {
    margin: 0rem 0.5rem 0rem 0.5rem;
    line-height: 2rem;
    color: #111;
  }
  p:active {
    color: #000;
  }
</style>
